{% extends "base.html" %}

{% block title %}
All Songs - Playlist Manager
{% endblock %}

{% block content %}
<div class="container mx-auto px-4 mt-8">
    <h1 class="text-2xl font-semibold mb-4">All Songs</h1>
    <table class="w-full table-auto bg-gray-900 text-white rounded">
        <thead>
            <tr class="bg-gray-800 text-white">
                <th class="py-4 px-6 text-left font-bold">#</th>
                <th class="py-4 px-6 text-left font-bold">Name</th>
                <th class="py-4 px-6 text-left font-bold">Scale</th>
                <th class="py-4 px-6 text-left font-bold">Tempo</th>
                <th class="py-4 px-6 text-left font-bold">Genre</th>
                <th class="py-4 px-6 text-left font-bold">Original Artist</th>
                <th class="py-4 px-6 text-left font-bold">Playlist</th>
            </tr>
        </thead>
        <tbody>
            {% for song in songs %}
            <tr class="border-t hover:bg-gray-800 hover:text-white transition-colors duration-300">
                <td class="border-b border-gray-800 py-4 px-6">{{ loop.index }}</td>
                <td class="border-b border-gray-800 py-4 px-6">{{ song.name }}</td>
                <td class="border-b border-gray-800 py-4 px-6">{{ song.scale }}</td>
                <td class="border-b border-gray-800 py-4 px-6">{{ song.tempo }}</td>
                <td class="border-b border-gray-800 py-4 px-6">{{ song.genre }}</td>
                <td class="border-b border-gray-800 py-4 px-6">{{ song.original_artist }}</td>
                <td class="border-b border-gray-800 py-4 px-6">{{ song.playlist.name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
