{% extends "base.html" %}

{% block title %}
My Playlists - Playlist Manager
{% endblock %}

{% block content %}
<div class="container mx-auto px-4 mt-8">
    <h1 class="text-2xl font-semibold mb-4">My Playlists</h1>
    <a class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600"
        href="{{ url_for('create_playlist') }}">Create Playlist</a>
    <table class="w-full table-auto bg-gray-900 text-white rounded  ">
        <thead>
            <tr class="table-auto bg-gray-800 text-white">
                <th class="py-4 px-6 text-left font-bold">#</th>
                <th class="py-4 px-6 text-left font-bold">Name</th>
                <th class="py-4 px-6 text-left font-bold">Band</th>
                <th class="py-4 px-6 text-left font-bold">Genre</th>
                <th class="py-4 px-6 text-left font-bold">Options</th>
            </tr>
        </thead>
        <tbody>
            {% for playlist in playlists %}
            <tr class="border-t hover:bg-gray-800 hover:text-white transition-colors duration-300">
                <td class="border-b  border-gray-800 py-4 px-6">{{ loop.index }}</td>
                <td class="border-b hover:bg-blue-800 hover:text-white border-gray-800 py-4 px-6" ><a href="{{ url_for('playlist', playlist_id=playlist.id) }}">{{ playlist.name }}</a></td>
                <td class="border-b border-gray-800 py-4 px-6">{{ playlist.band }}</td>
                <td class="border-b border-gray-800 py-4 px-6">{{ playlist.genre }}</td>
                <td class="border-b border-gray-800 py-4 px-6">
                    <a class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded" href="{{ url_for('edit_playlist', playlist_id=playlist.id) }}">Edit</a>
                    <form class="inline" method="POST" action="{{ url_for('delete_playlist', playlist_id=playlist.id) }}">
                        <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
